<html>
  <head>
    <meta charset="utf-8" />
    <title>Password Reset Successfully</title>
  </head>

  <body>
    <p>Hi <%= user.first_name %>,</p>
    <p>
      This is a confirmation that the password for your account <%= user.email
      %> has just been changed.
    </p>
    <p>Thank you,<br />Travel Scratch</p>
  </body>
</html>
