<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Travel Scratch app</title>
</head>
<body>
  <h1>Welcome <%= firstName %> <%= lastName %> to our travel app</h1>
  <p>Thanks for registering with us. We look forward to helping you plan your next adventure!</p>
</body>
</html>
